{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" >
    <title>Registration form</title>
</head>
<body>

    <div class="logo">
        <h1>Start your high-value career</h1>
        <img src="static/img/umuzi.png" alt="umuzi-logo">
    </div>

    <div class="info">
        <form id="contact" method="post" action="{% url 'home_page' %}">
            {% csrf_token %}
            
            First name: <input type="text" name="first_name" placeholder="Enter your first name"> <br><br>
            Last name: <input type="text" name="last_name" placeholder="Enter your last name"> <br><br>
            High-value career choice: <br><br>
            <input name="career" type="radio"> UI design <br><br>
            <input name="career" type="radio"> Strategy <br><br>
            <input name="career" type="radio"> Data Science <br><br>
            <input name="career" type="radio"> Web Development <br><br>
            Bio: <textarea name="about" id="bio" cols="30" rows="10" placeholder="a little about yourself..."></textarea><br><br>
            <input type="submit" />
    
        </form>
    </div>
    
</body>
</html>